body {
    background-color: rgb(33, 143, 194);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    position: relative;
    background-color:rgba(40, 211, 154, 0.774);
    color: #DFFF00;
    top: 0.1em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
section {
    position: absolute;
    background-color: #D5F5E3;
    text-align: center;
    height: 20em;
    left: 25em;
    margin: 1.5em;
    width: 66em;
    font-family: 'Courier New', Courier, monospace;
    border: 6px solid #5e5eee;
}
#letterButtons {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(38, 159, 189);
    text-align: center;
    height: 17.9em;
    top: 26em;
    left: 26.6em;
}
#yourword{
    position: absolute;
    font-size: 3em;
    top: -0.8em;
    left: 12.5em;
}
#hiddenWord {
    max-width: 100%;
    position: absolute;
    left: 18em;
    text-transform: uppercase;
    top: 1.5em;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 2em;
}
canvas {
    background-color: white;
    position: absolute;
    left: 1em;
    top: 5em;
    right: 69%;
    border: 4px solid rgb(19, 231, 247);
}
#category {
    text-transform: uppercase;
    background-color: #CCCCFF;
    position: absolute;
    top: 4em;
    left: 19em;
    font-size: 2em;
    text-align: left;
}
.inputTypes {
    position: absolute;
    font-size: 2em;
    top: 5em;
    left: -2em;
}
#inputBox {
    width: 3rem;
    text-align: center;
    font-size: 120%;
    text-transform: uppercase;
    border: solid;
    border-color: rgb(83, 157, 243);
    margin-bottom: 1rem;
}
#checkButton {
    font-family: 'Courier New', Courier, monospace;
    background-color: #821f68;
    color: white;
    border: none;
    width: 70%;
    display: inline;
    font-size: 120%;
    cursor: pointer;
    border-radius: 2em;
    transition-duration: 0.3s;
}
#checkButton:hover {
    background-color: white;
    color: #821f68;
    border-color: #821f68;
    border: solid;
}
#checkButton:disabled {
    background-color: grey;
    border-color: grey;
    color: white;
}
#warningMsg{
    position: absolute;
    max-width: 30%;
    left: 10em;
    top: 0em;
    background-color: black;
    color: red;
    font-size: 1.7em;
}
#errorMsg {
    position: absolute;
    left: 10em;
    top: 3.5em;
    color: red;
    font-size: 3em;
}
#lifeCount{
    position: absolute;
    background-color: #5e5eee;
    color:aqua;
    font-size: 3em;
    left: 0.3em;
    top: 0.6em;
    border: solid black;
}
#scoreCount{
    position: absolute;
    background-color:#5e5eee;
    max-width: 20%;
    color: wheat;
    font-size: 2em;
    left: 0.5em;
    top: -1em;
    border: solid black;
}
#usedLetters{
    text-transform: uppercase;
    background-color: #c5c5d18e;
    position: absolute;
    left: 1em;
    top: 7.8em;
    font-size: 2em;
}
.promptButtons{
    font-size: 50%;
    padding: 3%;
    margin: 2%;
}
.restartPrompt{
    position: absolute;
    text-transform: uppercase;
    background-color: rgb(240, 116, 116);
    font-size: 3em;
    top: 2em;
    left: 5.5em;
    border: 1px solid black;
}
.letterButton{
    font-family: 'Courier New', Courier, monospace;
    height: 2em;
    font-size: 2.8em;
    margin: 2px;
    padding: 30px;
}