:root{
    --main-col: #5e5eee;
    --main-font: 'Courier New', Courier, monospace;
    --org-fSize: 2em;
    --maxWidth: 100%;
}

@media screen and (max-width: 900px) {
    *  main {
    grid-template-rows: 4em 1fr 1fr 1fr;

    grid-template-areas: "h1 h1 h1"
    "game game game"
    "canvas canvas canvas"
    "keyboard keyboard keyboard";
    }
    
    #head {
        font-size: 3.2vw;
    }
}

@media screen and (max-width: 450px) {
    #game {
        height: 70em;
    }

    #warningMsg {
        left: 17em;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    max-width: var(--maxWidth);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4em 1fr 1fr;

    grid-template-areas: "head head head"
      "canvas game game"
      "canvas keyboard keyboard";

    height: 100vh;
    width: 100vw;
}

body {
    background-color: rgb(33, 143, 194);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#header{
    grid-area: head;
    position: relative;
    background-color:rgba(40, 211, 154, 0.774);
    color: #DFFF00;
    border: 4px solid #8b9b26;
    padding-top: 0.1em;
    text-align: center;
    font-size: 3em;
}

#game {
    grid-area: game;
    background-color: #D5F5E3;
    text-align: center;
    border: 6px solid var(--main-col);
    height: 37em;
}

#yourword{
    position: relative;
    font-size: 3em;
}

#hiddenWord {
    text-transform: uppercase;
    margin: 0.7em;
    font-size: var(--org-fSize);
}

canvas {
    width: 100%;
    height: 99%;
    border: 4px solid var(--main-col);
}

#category {
    text-transform: uppercase;
    background-color: #CCCCFF;
    font-size: var(--org-fSize);
    text-align: center;
}

.inputTypes {
    font-size: var(--org-fSize);
}

#keyboard {
    grid-area: keyboard;
    text-align: center;
}

.key{
    margin: 0.5em;
    background: white;
    text-transform: uppercase;
    padding: 0.9em 1.9em;
    border-radius: 0.5em;
    font-size: 1em;
}

.key:hover{
    background-color: grey;
}
.key:disabled{
    background-color: grey;
    border-color: grey;
    color: white;
}

#letters_row1 button {
    flex-basis: 10em;
    flex-grow: 1;
}

#inputBox {
    width: 4rem;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    border: solid;
    border-color: rgb(83, 157, 243);
    margin-bottom: 1rem;
}

#warningMsg{
    position: absolute;
    top: 3em;
    left: 27em;
    background-color:rgb(48, 76, 117);
    color: red;
    font-size: 1.7em;
}

#errorMsg {
    position: relative;
    left: 10em;
    top: 3.5em;
    color: red;
    font-size: 3em;
}

#guessCount{
    text-align: center;
    font-size: 2.5em;
    color:aqua;
    background-color: var(--main-col);
}

#scoreCount{
    color: wheat;
    background-color:var(--main-col);
    max-width: 20%;
    font-size: var(--org-fSize);
}

#usedLetters{
    text-transform: uppercase;
    color: white;
    background-color: var(--main-col);
    font-size: var(--org-fSize);
    margin-bottom: 0.2em;
}

.promptButtons{
    font-size: 50%;
    padding: 3%;
    margin: 2%;
}

.restartPrompt{
    position: absolute;
    text-transform: uppercase;
    background-color: rgb(240, 116, 116);
    max-width: 25%;
    font-size: 4em;
    top: 3.5em;
    left: 5em;
    border: 3px solid black;
}
